body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  
  .calculator {
    border-color: #ccc;
    border-width: 10px;
    width: 370px;
    height: 520px;
    border-radius: 10px;
    background-color: rgb(42, 37, 37);
    box-shadow: 0 0 10px rgba(20, 17, 17, 0.1);
    padding: 20px;
  }
  .calculator h1{
    color: #f1f1f1;
  }
  
  .display {
    width: 93%;
    height: 50px;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .btn {
    font-size: 20px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .btn:hover {
    background-color: #787373;
  }
  
  .btn:active {
    background-color: #ccc;
  }

  @media (max-width: 768px) {
    .calculator {
        width: 250px;
        padding: 15px;
    }

    .display {
        font-size: 20px;
    }

    .btn {
        font-size: 16px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .calculator {
        width: 200px;
        padding: 10px;
    }

    .display {
        font-size: 18px;
        padding-left:0px;
    }

    .btn {
        font-size: 14px;
        padding: 12px;
    }
}
